# Terraform
.terraform
terraform.log
terraform.tfstate*
terraform.tfplan
*.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
out.plan
plan

# Python
__pycache__/
*.py[cod]
*$py.class

setup.py
htmlcov/
.test-reports/
.coverage
.coverage.*
.pytest_cache/
dist/
*.egg-info/

# General
.DS_Store
.AppleDouble
.LSOverride
.tmuxp.*


sonarcloud.py

